body,
ul,
li {
    color: #333131;
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #c6d4d9;
}

header {
    text-align: center;
    position: relative;
    width: 100%;
}

.title {
    color: #FFFFFF;
    width: 100%;
    background-color: #2b89ad;
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
    margin-bottom: 20px;
}

.newReminder {
    padding: 5px 0 10px 0;
    color: white;
	margin: 0 auto;
}

.newReminder h3 {
    text-align: center;
    color: #148bbb;
}

.newReminderElement {
    display: flex;
    flex-direction: column;
    height: 75px;
}

.itemsLine {
    display: flex;
}

.justCenter {
    justify-content: center;
}

.item-1 {
    flex: 1;
    text-align: center;
    margin: 5px;
}

.item-1 .emailElement input {
    border-radius: 5px;
}

.item-2 {
    text-align: center;
    width: 20px;
}

.marginFirst {
    margin-right: 10px;
}

.checkboxes {
    justify-content: center;
    align-items: center;
    margin: 5px 0 5px 0;
}

.checkboxes label {
    margin: 0px 10px 0 10px;
}

.newReminder input:nth-of-type(-n+3) {
    height: 45px;
}

.newReminder label {
    color: #148bbb;
    text-align: center;
}

.newReminder:after {
    content: "";
    display: table;
    clear: both;
}

.aCheckbox {
    text-align: center;
    margin: 0 0 10px 0;
}

.flex-1 {
    flex: 1;
}

.addBtn {
    padding: 9px 10px;
    background-color: #5bbbdf;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
    border: 1px solid #148bbb;
}

.validator .addBtn:hover {
    background-color: #2b89ad;
    color: white;
}

.items {
    margin: 10px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.remove, .edit {
    font-size: 24px;
    font-weight: bold;
}

.remove:hover {
    color: #f44336;
    font-weight: bolder;
}

.edit:hover {
    color: #65d819;
    font-weight: bolder;
}

table,
th,
td {
    color: #fefefe;
    border: 1.5px solid #a17373;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 15px 8px 15px 10px;
    font-size: 18px;
    transition: 0.2s;
    text-align: start;
}

table {
    background-color: white;
    width: 70%;
}

th {
    font-size: 17px;
}

tr:nth-child(odd){
    background-color: #5bbbdf;
}

tr:nth-child(even){
    background-color: #abcfdb;
}

tr:first-of-type {
    background: #2b89ad;
}

tr:not(:first-child):hover {
    background: #2b89ad;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin-top: 15px;
}

footer span {
    padding: 5px;
}

#myTable input[type=checkbox] {
    width: 25px;
    height: 30px;
}

.checkboxStyle {
    text-align: center;
}

.emailElement {
    display: flex;
    align-items: center;
    padding: 0px 20px 20px 20px;
    flex-direction: column;
}

.emailElementModal {
    display: flex;
    justify-content: center;
    padding: 0 20px 20px 20px;
}

.emailElement input {
    width: 50%;
    text-align: center;
}

.emailElement label {
    margin-bottom: 10px;
}

/* Modal styles */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0,0,0,0.4);
}
  
.modalContent {
    background-color: #c6d4d9;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #148bbb;
    width: 70%;
    border-radius: 5px;
}

.close {
    color: #000;
    position: absolute;
    right: 0;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    position: relative;
}

#UpdId,
#newId {
    display: none;
}

#newDate {
    color: #fefefe;
    border-color: transparent;
    background: inherit;
}

#updEmail {
    width: 50%;
}

.emailElementModal input {
    text-align: center;
}

input:focus-visible {
    outline-color: #1491c2 !important;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

::placeholder, #newInterval {
    color: #1491c2;
}

input {
    color: #1491c2;
}

::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="%231491c2" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

/* Mobile */
@media (max-width: 500px) {

    body {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .emailElement input {
        width: 100%;
    }

    table tr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    table td {
        width: 360px;
        height: 30px;
        text-align: center;
    }

    table th {
        text-align: center;
    }

    #updEmail {
        width: 100%;
    }

    td:first-of-type {
        background-color: #dd8888;
    }

  }

@media (min-width: 501px) {

    .container {
        display: flex;
        max-width: 70%;
        flex-direction: column;
    }

    table,
    th,
    td {
        text-align: start;
        text-align: left;
    }

    table td::before {
        content: attr(label);
        font-weight: bold;
        width: 120px;
        min-width: 120px;
    }

    /* Descrição */
    th:nth-child(3) {
        width: 60%;
    }

    /* Email */
    th:nth-child(6){
        width: 30%;
    }
}